@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/OpenSansRegular.ttf');
}
article,
aside,
nav,
header,
figcaption,
figure,
footer,
section {
  display: block;
  margin: 0;
  padding: 0;
}
.ad {
  height: 238px;
  width: 238px;
  background: #ddd;
}
.assessment__scale-external {
  overflow: hidden;
  border: 1px solid #ddd;
  height: 10px;
  width: 250px;
  background: #f2f1f1;
  border-radius: 2px;
}
.assessment__scale-inner {
  height: 10px;
  background: url(http://technocomments.info/images/rating_bar.jpg) no-repeat;
}
.assessment-wrap__itm {
  margin-bottom: 10px;
}
.body {
  margin: 0;
  height: 100%;
  background: #f7f7f7;
  color: #111;
  font-size: 14px;
  font-family: OpenSansRegular, Arial;
  line-height: 1.5em;
}
.body__block {
  margin-bottom: 20px;
}
.bread-crumb__lnk {
  color: #b50040;
  transition-duration: 0.2s;
}
.bread-crumb__lnk:hover {
  opacity: 0.55;
  text-decoration: none;
}
.carousel {
  position: relative;
}
.carousel__img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 750px;
  width: 750px;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  transition-duration: 0.2s;
}
.carousel__img_first {
  position: static;
}
.carousel__img_hidden {
  z-index: -1;
  opacity: 0;
}
.carousel__img_visible {
  z-index: 1;
  opacity: 1;
}
.carousel__switch {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.carousel-switch {
  z-index: 10;
}
.carousel-switch__itm {
  float: left;
  border: 1px solid #ddd;
  margin: 0 5px 10px 0;
  height: 16px;
  width: 16px;
  background-color: #f2f1f1;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.carousel-switch__itm:hover {
  background-color: #b50040;
  opacity: 0.55;
}
.carousel-switch__itm_active {
  background-color: #b50040;
}
.character {
  border-collapse: collapse;
  border-spacing: 0;
  width: 848px;
}
.character__group {
  background: #f2f1f1;
}
.character__td {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.clr {
  clear: both;
}
.desc {
  color: #888;
  font-size: 12px;
}
.device-itm__capt {
  margin-left: 271px;
  padding-top: 32px;
  font-size: 14px;
}
.device-itm__elem {
  margin-bottom: 10px;
}
.device-itm__fig {
  height: 252px;
}
.device-itm__hdr {
  position: relative;
}
.device-itm__img {
  float: left;
  border: 1px solid #ddd;
  height: 250px;
  width: 250px;
  border-radius: 2px;
  transition-duration: 0.2s;
}
.device-itm__img:hover {
  opacity: 0.55;
}
.device-itm__lnk {
  color: #111;
  text-decoration: none;
  transition-duration: 0.2s;
}
.device-itm__lnk:hover {
  opacity: 0.55;
  text-decoration: underline;
}
.device-itm__name {
  position: absolute;
  left: 271px;
  margin: 0;
  font-size: 16px;
}
.event {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding-top: 15px;
  height: 40px;
  width: 100px;
  background: #5eba00;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.ftr {
  background: #f2f1f1 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  color: #888;
}
.ftr__email {
  color: #111;
}
.ftr__inner {
  margin-left: 20px;
}
.hdr {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.hdr__desc {
  margin: 20px 0 0 20px;
}
.hdr__logo {
  margin: 15px 0 0 20px;
}
.img-menu__itm {
  float: left;
  margin: 0 0 0 20px;
  padding: 110px 0 20px 0;
  height: 45px;
  width: 110px;
  background: 50% 5px no-repeat;
  color: #111;
  font-style: italic;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s;
}
.img-menu__itm:hover {
  opacity: 0.55;
}
.logo {
  display: inline-block;
  color: #111;
  text-decoration: none;
  transition-duration: 0.2s;
}
.logo__first-letter {
  font-size: 80px;
}
.logo__first-word {
  font-size: 46px;
}
.logo__second-word {
  margin-left: 7px;
  font-size: 17px;
}
.logo:hover {
  opacity: 0.55;
}
.l-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
}
.l-menu__ad {
  margin: 20px 0 0 20px;
}
.l-menu__inner {
  margin: 0 0 0 20px;
  padding: 0;
}
.l-menu__itm {
  list-style: none;
}
.l-menu__lnk {
  color: #111;
}
.l-menu__lnk:hover {
  opacity: 0.55;
  transition-duration: 0.2s;
}
.l-menu-wr {
  position: relative;
}
.main-cont {
  margin: 0 auto;
  width: 1190px;
}
.main-cont__child_right {
  margin-left: 300px;
}
.pgn {
  color: #888;
}
.pgn__itm {
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 2px;
  padding: 1px 8px;
  border-radius: 2px;
  color: #888;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 0.2s;
}
.pgn__itm_active {
  background-color: #b50040;
  color: white;
}
.pgn__itm:hover {
  background-color: #b50040;
  color: white;
  opacity: 0.55;
}
.rating__bar {
  margin-bottom: 10px;
}
.rating-bar {
  position: relative;
  float: left;
}
.rating-bar__input {
  position: absolute;
  top: 1px;
  z-index: 0;
  margin: 0;
  padding: 0;
  height: 10px;
  width: 40px;
  opacity: 0;
}
.rating-bar__input_pos_1 {
  left: 1px;
}
.rating-bar__input_pos_2 {
  left: 46px;
}
.rating-bar__input_pos_3 {
  left: 91px;
}
.rating-bar__input_pos_4 {
  left: 136px;
}
.rating-bar__input_pos_5 {
  left: 181px;
}
.rating-bar__input:checked ~ .rating-bar__label {
  background: #b50040;
}
.rating-bar__label {
  position: relative;
  z-index: 1;
  float: right;
  border: 1px solid #ddd;
  margin-right: 3px;
  height: 10px;
  width: 40px;
  background: #f2f1f1;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.rating-bar__label:hover {
  background: #b50040;
  opacity: 0.55;
}
.rating-bar__label:hover ~ .rating-bar__label {
  background: #b50040;
  opacity: 0.55;
}
.review__reply {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.review__reply:hover {
  color: #76002a;
}
.review__txt {
  margin: 10px 20px 10px 0;
}
.review__txt_theme_device-list {
  margin: 0 20px 0 0;
}
.review-add__comment {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 1px 5px;
  max-width: 100%;
  min-height: 137px;
  min-width: 100%;
  width: 100%;
  border-radius: 2px;
}
.review-add__comment-wr {
  margin-right: 20px;
}
.review-add__itm {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: OpenSansRegular, Arial;
  outline: 0;
}
.review-add__name {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 1px 5px;
  width: 250px;
  border-radius: 2px;
}
.review-add__submit {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 1px 15px 2px;
  background: #b50040;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}
.review-add__submit:hover {
  opacity: 0.55;
}
.search-btn {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px 20px 4px;
  background: linear-gradient(to left, #540014, #d50040) #b50040;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 0.2s;
}
.search-btn:hover {
  opacity: 0.55;
}
.search-params__itm {
  box-sizing: border-box;
  float: left;
  border: 1px solid #ddd;
  margin: 0 0 20px 20px;
  padding: 20px;
  width: 414px;
  border-radius: 2px;
}
.slider__bar {
  position: relative;
  clear: both;
}
.slider__bar-flask {
  margin-top: 13px;
  height: 6px;
}
.slider__bar-fill {
  height: 100%;
  width: 100%;
  background-color: #da3670;
}
.slider__row {
  height: 25px;
}
.slider__thumb {
  position: absolute;
  top: -6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 18px;
  width: 11px;
  background-color: #b50040;
  border-radius: 2px;
  cursor: move;
  transition-duration: 0.2s;
  transition-property: background-color;
}
.slider__thumb_side_left {
  left: 0;
}
.slider__thumb_side_right {
  right: 0;
}
.slider__thumb:hover {
  background-color: #d67295;
}
.slider__value {
  margin-left: 10px;
  font-weight: bold;
}
.slider__value-half {
  float: left;
  width: 186px;
}
.slider__value-units {
  float: right;
}
.standard-block {
  box-sizing: border-box;
  padding: 25px 0;
  border: 1px solid #ddd;
  background: white;
  border-radius: 2px;
}
.standard-block__hdr_size_lg {
  font-size: 24px;
  line-height: 24px;
}
.standard-block__hdr_size_md {
  font-size: 20px;
  line-height: 20px;
}
.standard-block__itm {
  margin: 0 0 20px 20px;
}
.standard-block__pgn {
  margin: 25px 0 0 20px;
}
.standard-block__search-btn {
  margin: 20px 0 20px 20px;
}
.standard-block__search-btn_margin-bottom_lg {
  margin-bottom: 40px;
}
.standard-block__sect {
  margin-top: 40px;
}
.video {
  width: 848px;
  height: 477px;
}
