@border-radius: 2px;
@color-txt: #111;
@color-bg: #f7f7f7;
@color-block: white;
@color-border: #ddd;
@color-desc: #888;
@color-ftr: #f2f1f1;
@color-lnk: #da3670;
@color-lnk-dark: #76002a;
@color-button: #b50040;
@color-button-hover: #d67295;
@color-true: #5eba00;
@font-family: OpenSansRegular, Arial;
@font-size-desc: 12px;
@font-size-main: 14px;
@opacity: 0.55;
@transition-duration: 0.2s;
@font-face {
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/OpenSansRegular.ttf');
}
article,
aside,
nav,
header,
iframe,
figcaption,
figure,
footer,
section {
    display: block;
    margin: 0;
    padding: 0;
}
.ad {
    height: 218px;
    width: 218px;
    background: @color-border;
}
.assessment {
    &__scale-external {
        overflow: hidden;
        border: 1px solid @color-border;
        height: 10px;
        width: 250px;
        background: #f2f1f1;
        border-radius: @border-radius;
    }
    &__scale-inner {
        height: 10px;
        background: url(http://technocomments.info/images/rating_bar.jpg) no-repeat;
    }
}
.assessment-wrap {
    &__itm {
        margin-bottom: 10px;
    }
}
.body {
    margin: 0;
    height: 100%;
    background: @color-bg;
    color: @color-txt;
    font-size: @font-size-main;
    font-family: @font-family;
    line-height: 1.5em;
    &__block {
        margin-bottom: 20px;
    }
}
.blk {
    box-sizing: border-box;
    border: 1px solid @color-border;
    background: @color-block;
    border-radius: @border-radius;
    &__itm {
        //border: 1px solid @color-border;
        margin: 20px 0 0;
        &_offset_s {
            margin-top: 10px;
        }
        &_offset_xl {

        }
    }
    &__search-btn {
        margin: 20px 0 20px 20px;
        &_margin-bottom_lg {
            margin-bottom: 40px;
        }
    }
    &__sect {
        //border: 1px solid @color-border;
        margin: 40px 30px 0 30px;
        &_offset-t_xl {
            margin-top: 50px;
        }
        &_offset-t_m {
            margin-top: 20px;
        }
    }
}
.bread-crumb {
    &__lnk {
        color: @color-button;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
            text-decoration: none;
        }
    }
}
.carousel {
    position: relative;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 750px;
        width: 750px;
        border: 1px solid @color-border;
        border-radius: @border-radius;
        cursor: pointer;
        opacity: 0;
        transition-duration: @transition-duration;
        &_first {
            position: static;
        }
        &_hidden {
            z-index: -1;
            opacity: 0;
        }
        &_visible {
            z-index: 1;
            opacity: 1;
        }
    }
    &__switch {
        position: absolute;
        bottom: 0;
        left: 10px;
    }
}
.carousel-switch {
    z-index: 10;
    &__itm {
        float: left;
        border: 1px solid @color-border;
        margin: 0 5px 10px 0;
        height: 16px;
        width: 16px;
        background-color: @color-ftr;
        border-radius: @border-radius;
        cursor: pointer;
        transition-duration: @transition-duration;
        &_active {
            background-color: @color-button;
        }
        &:hover {
            background-color: @color-button;
            opacity: @opacity;
        }
    }
}
.character {
    width: 100%;
    &__group {
        background: @color-ftr;
    }
    &__td {
        border: 1px solid @color-border;
        padding: 7px 10px;
    }
}
.clr {
    clear: both;
}
.cta-btn {
    display: inline-block;
    border: 1px solid @color-border;
    padding: 3px 20px 4px;
    background-color: @color-button;
    border-radius: @border-radius;
    color: @color-block;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition-duration: @transition-duration;
    &:hover {
        opacity: @opacity;
    }
    &:disabled {
        opacity: @opacity;
    }
}
.desc {
    color: @color-desc;
    font-size: @font-size-desc;
}
.device-itm {
    &__capt {
        margin-left: 271px;
        padding-top: 32px;
        font-size: @font-size-main;
    }
    &__elem {
        margin-bottom: 10px;
    }
    &__fig {
        height: 252px;
    }
    &__hdr {
        position: relative;
    }
    &__img {
        float: left;
        border: 1px solid @color-border;
        height: 250px;
        width: 250px;
        border-radius: @border-radius;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
        }
    }
    &__lnk {
        color: @color-txt;
        text-decoration: none;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
            text-decoration: underline;
        }
    }
    &__name {
        position: absolute;
        left: 271px;
        margin: 0;
        font-size: 16px;
    }
}
.event {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding-top: 15px;
    height: 40px;
    width: 100px;
    background: @color-true;
    border-radius: @border-radius;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.ftr {
    background: @color-ftr !important;
    //border: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: @color-desc;
    &__email {
        color: @color-txt;
    }
}
.hdn {
    display: none;
}
.hdr {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.img-menu-itm {
    float: left;
    width: 50%;
    &__capt {
        margin-left: 121px;
        padding-top: 32px;
        font-size: @font-size-main;
    }
    &__elem {
        margin-bottom: 10px;
    }
    &__fig {
        height: 102px;
    }
    &__hdr {
        position: relative;
    }
    &__img {
        float: left;
        border: 1px solid @color-border;
        height: 100px;
        width: 100px;
        border-radius: @border-radius;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
        }
    }
    &__lnk {
        color: @color-txt;
        text-decoration: none;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
            text-decoration: underline;
        }
    }
    &__name {
        position: absolute;
        left: 121px;
        margin: 0;
        font-size: 16px;
    }
}
.logo {
    display: inline-block;
    color: @color-txt;
    text-decoration: none;
    transition-duration: @transition-duration;
    &__first-letter {
        font-size: 80px;
    }
    &__first-word {
        font-size: 46px;
    }
    &__second-word {
        margin-left: 7px;
        font-size: 17px;
    }
    &:hover {
        opacity: @opacity;
    }
}
.l-menu {
    position: relative;
    top: 0;
    width: 280px;
    &__inner {
        margin: 0 0 0 20px;
        padding: 0;
    }
    &__itm {
        list-style: none;
    }
    &__lnk {
        color: @color-txt;
        &_selected {
            opacity: @opacity;
        }
        &:hover {
            opacity: @opacity;
            transition-duration: @transition-duration;
        }
    }
}
.l-menu-wr {
    float: left;
}
.main-cont {
    margin: 0 auto;
    width: 1190px;
    &__child {
        &_right {
            margin-left: 300px;
        }
    }
}
.rating {
    &__bar {
        margin-bottom: 10px;
    }
}
.rating-bar {
    position: relative;
    float: left;
    &__input {
        position: absolute;
        top: 1px;
        z-index: 0;
        margin: 0;
        padding: 0;
        height: 10px;
        width: 40px;
        opacity: 0;
        &_pos_1 {
            left: 1px;
        }
        &_pos_2 {
            left: 46px;
        }
        &_pos_3 {
            left: 91px;
        }
        &_pos_4 {
            left: 136px;
        }
        &_pos_5 {
            left: 181px;
        }
        &:checked ~ .rating-bar__label {
            background: @color-button;
        }
    }
    &__label {
        position: relative;
        z-index: 1;
        float: right;
        border: 1px solid @color-border;
        margin-right: 3px;
        height: 10px;
        width: 40px;
        background: @color-ftr;
        border-radius: @border-radius;
        cursor: pointer;
        transition-duration: @transition-duration;
        &:hover {
            background: @color-button;
            opacity: @opacity;
        }
        &:hover ~ .rating-bar__label {
            background: @color-button;
            opacity: @opacity;
        }
    }
}
.review {
    &__reply {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
        transition-duration: @transition-duration;
        &:hover {
            color: @color-lnk-dark;
        }
    }
    &__txt {
        margin: 10px 0 10px;
        white-space: pre-wrap;
        &_theme_device-list {
            white-space: normal;
        }
    }
}
.review-add {
    &__comment {
        border: 1px solid @color-border;
        margin-bottom: 10px;
        padding: 1px 5px;
        max-width: 100%;
        min-height: 137px;
        min-width: 100%;
        width: 100%;
        border-radius: @border-radius;
    }
    &__itm {
        box-sizing: border-box;
        display: block;
        font-size: @font-size-main;
        font-family: @font-family;
        outline: 0;
    }
    &__name {
        border: 1px solid @color-border;
        margin-bottom: 10px;
        padding: 1px 5px;
        width: 250px;
        border-radius: @border-radius;
    }
    &__submit {
        border: 1px solid @color-border;
        margin: 10px 0 0;
        padding: 1px 15px 2px;
        background: @color-button;
        border-radius: @border-radius;
        color: @color-block;
        cursor: pointer;
        transition-duration: @transition-duration;
        &:hover {
            opacity: @opacity;
        }
    }
}
.search-params {
    &__itm {
        box-sizing: border-box;
        float: left;
        border: 1px solid @color-border;
        margin: 0 20px 20px 0;
        padding: 20px;
        width: 404px;
        border-radius: @border-radius;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
}
.slider {
    &__bar {
        position: relative;
        clear: both;
    }
    &__bar-flask {
        margin-top: 13px;
        height: 6px;
    }
    &__bar-fill {
        height: 100%;
        width: 100%;
        background-color: @color-lnk;
    }
    &__row {
        height: 25px;
    }
    &__thumb {
        position: absolute;
        top: -6px;
        box-sizing: border-box;
        border: 1px solid @color-border;
        height: 18px;
        width: 11px;
        background-color: @color-button;
        border-radius: @border-radius;
        cursor: move;
        transition-duration: @transition-duration;
        transition-property: background-color;
        &_side {
            &_left {
                left: 0;
            }
            &_right {
                right: 0;
            }
        }
        &:hover {
            background-color: @color-button-hover;
        }
    }
    &__value {
        margin-left: 10px;
        font-weight: bold;
    }
    &__value-half {
        float: left;
        width: 181px;
    }
    &__value-units {
        float: right;
    }
}
.sort {
    display: flex;
    &_itm {
        margin-right: 20px;
        transition: @transition-duration;
        &_active {
            opacity: @opacity;
        }
        &:hover {
            opacity: @opacity;
            cursor: pointer;
        }
    }
}
.success {
    padding: 7px 10px;
    border: 1px solid @color-border;
    border-radius: @border-radius;
    background-color: @color-ftr;
}
.title {
    font-size: 20px;
    line-height: 20px;
    &_size_l {
        font-size: 24px;
        line-height: 24px;
    }
}
.video {
    width: 100%;
    height: 465px;
}
